@media screen and (max-width: 1200px) {
    .header{
        height: 50px;
        background: #254b67;
    }

    .block-b {
        flex-grow: 50;
        background: green;
    }

    .block-c {
        flex-grow: 50;
        background: green;
    }
}

@media screen and (min-width: 1600px){
    .header{
        height: 300px;
        background: crimson;
    }

    .block-b {
        flex-grow: 10;
        background: green;
    }

    .block-c {
        flex-grow: 90;
        background: green;
    }

}