*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 100px;
    background: grey;
}

.blocks{
    width: 100%;
    height: 500px;
}

.block-b{
    height: 100%;
    flex-grow: 70;
    background: grey;
}

.block-c{
    height: 100%;
    flex-grow: 30;
    background: grey;
}

.flex{
    display: flex;
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.w-50{
    width: 50%;
}

.w-45{
    width: 45%;
}

.w-40{
    width: 40%;
}

.w-35{
    width: 35%;
}

.w-30{
    width: 30%;
}

.w-25{
    width: 25%;
}

.w-20{
    width: 20%;
}

.w-15{
    width: 15%;
}

.w-10{
    width: 10%;
}

.w-5{
    width: 5%;
}

.h-100{
    height: 100%;
}

.h-90{
    height: 90%;
}

.h-80{
    height: 80%;
}

.h-70{
    height: 70%;
}

.h-65{
    height: 65%;
}

.h-60{
    height: 60%;
}

.h-50{
    height: 50%;
}

.h-45{
    height: 45%;
}

.h-40{
    height: 40%;
}

.h-35{
    height: 35%;
}

.h-30{
    height: 30%;
}

.h-25{
    height: 25%;
}

.h-20{
    height: 20%;
}

.h-15{
    height: 15%;
}

.h-10{
    height: 10%;
}

.h-5{
    height: 5%;
}

.h-1{
    height: 1%;
}

.jc-c{
    justify-content: center;
}

.jc-s-a{
    justify-content: space-around;
}

.jc-s-e{
    justify-content: space-evenly;
}

.jc-s-b{
    justify-content: space-between;
}

.jc-f-end{
    justify-content: flex-end;
}

.ai-c{
    align-items: center;
}

.row-gap-15{
    row-gap: 15px;
}

.row-gap-10{
    row-gap: 10px;
}

.col-gap-10{
    column-gap: 10px;
}

.row-gap-30{
    row-gap: 30px;
}


.row-gap-20{
    row-gap: 20px;
}

.row-gap-5{
    row-gap: 5px;
}

.t-a-c{
    text-align: center;
}

.fd-col{
    flex-direction: column;
}

.bor-ra-50proc{
    border-radius: 50%;
}

.bor-ra-10{
    border-radius: 10px;
}

.bor-ra-20{
    border-radius: 20px;
}

.b-silver{
    background: silver;
}

.b-steelblue{
    background: #254b67;
}

.b-pink{
    background: #8f4fb7;
}

.b-green{
    background: green;
}

.b-black{
    background: black;
}

.c-pink{
    color: #8f4fb7;
}

.font{
    font: 150% SansSerif;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

.bottom--70{
    bottom: -70px;
}

.wrap{
    flex-wrap: wrap;
}