*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.fd-col{
    flex-direction: column;
}

.jc-c{
    justify-content: center;
}

.jc-s-a{
    justify-content: space-around;
}

.a-i-c{
    align-items: center;
}

.row-g{
    row-gap: 10px;
}

.col-g{
    column-gap: 10px;
}

.b-aqua{
    background: aqua;
}

.c-white{
    color: white;
}

.c-aqua{
    color: aqua;
}

.c-d-green{
    color: #254b67;
}
.boarder{
    border: 2px aqua solid;
}

header{
    width: 100%;
    height: 200px;
}

.up-header{
    column-gap: 10px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30%;
}

.fish{
    width: 9.5%;
    height: 100%;
}

.up-button{
    width: 5%;
    height: 15%;
    background: #254b67;
    border-radius: 10px;
}

.down-header{
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
    background: white;
}

.logo{
    width: 10%;
    height: 50%;
    background: #254b67;
    border-radius: 10px;
}

.down-buttons{
    justify-content: flex-end;
    column-gap: 10px;
    align-items: center;
    width: 50%;
    height: 100%;
}

.down-button{
    width: 15%;
    border-radius: 10px;
    height: 10%;
    background: #254b67;
}

main{
    width: 100%;
    height: 400px;
}

.main-button{
    width: 15%;
    height: 20%;
    border-radius: 40px;
    background: #254b67;
}

.main-text-b{
    font-size: 3em;
}

.main-text-s{
    text-align: center;
    width: 30%;
    font-size: 2em;
}

.wall-post{
    width: 100%;
    height: 600px;
    background: white;
}

.post-content{
    width: 90%;
    height: 90%;
    border-radius: 100px;
    border: aqua solid;
}

.posts{
    width: 100%;
    height: 50%;
    justify-content: space-around;
}

.post{
    width: 20%;
    height: 100%;
    text-align: center;
}

.block{
    width: 100%;
    height: 90%;
    background: #254b67;
    border-radius: 20px;
}

.wall-text-b{
    font-size: 3em;
}

.wall-text-s{
    text-align: center;
    font-size: 2.5em;
}

.wall-text-xs{
    text-align: center;
    font-size: 1.5em;
}

.wall-pictures{
    width: 100%;
    height: 500px;
    background: #254b67;
}

.pictures{
    width: 25%;
    height: 75%;
}

.circle{
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 50%;
}

.white-wall{
    background: white;
    width: 100%;
    height: 1500px;
}

.blogs{
    width: 90%;
    height: 50%;
    flex-wrap: wrap;
}

.blog{
    width: 30%;
    height: 45%;
    border-radius: 20px;
    border: aqua solid 2px;
}

.preview{
    width: 95%;
    height: 45%;
    background: #254b67;
    border-radius: 10px;
}

.blog-buttons{
    justify-content: space-between;
    width: 95%;
    height: 10%;
}

.b-button{
    width: 15%;
    height: 20%;
    border-radius: 10px;
    background: #254b67;
}

.s-buttons{
    justify-content: space-between;
    width: 15%;
    height: 100%;
}

.s-button{
    width: 40%;
    height: 20%;
    background: #254b67;
    border-radius: 10px;
}

.blog-line{
    width: 100%;
    height: 1%;
    background: aqua;
}

.blog-panel{
    width: 95%;
    height: 15%;
    justify-content: space-between;
}

.b-panel-button{
    width: 20%;
    height: 50%;
    background: #254b67;
    border-radius: 10px;
}

.s-panel-buttons{
    width: 35%;
    height: 50%;
    justify-content: space-between;
}

.s-panel-button{
    width: 30%;
    height: 100%;
    background: #254b67;
    border-radius: 10px;
}

.wall-text{
    width: 90%;
    height: 40%;
}

.dark-text{
    width: 50%;
    height: 100%;
    background: #254b67;
    justify-content: center;
}

.aqua-text{
    width: 50%;
    height: 100%;
    background: aqua;
}

.text{
    width: 70%;
    height: 100%;
}

.wall-text-button{
    width: 30%;
    height: 10%;
    border-radius: 30px;
    background: aqua;
}

.wall-text-button-d-green{
    width: 30%;
    height: 10%;
    border-radius: 30px;
    background: #254b67;
}

.w-wall-text-b{
    font-size: 3em;
}

.w-wall-text-s{
    font-size: 2.5em;
}

footer{
    width: 100%;
    height: 200px;
    background: #254b67;
}

.footer-blocks{
    justify-content: center;
    column-gap: 10px;
    width: 40%;
    height: 30%;
}

.footer-block{
    width: 10%;
    height: 100%;
    background: white;
    border-radius: 15px;
}

.footer-line{
    width: 40%;
    height: 5%;
    background: aqua;
    border-radius: 5px;
}