@media screen and (max-width: 1200px){
    header{
        height: 600px;
    }

    .posts{
        flex-wrap: wrap;
        height: 70%;
    }

    .post{
        width: 45%;
        height: 55%;
    }
}