*{
    margin:0;
    padding: 0;
}

.flex{
    display: flex;
}

.fd-col{
    flex-direction: column;
}

.a-i-c{
    align-items: center;
}

.t-a-c{
    text-align: center;
}

.a-c-c{
    align-content: center;
}

.jc-c{
    justify-content: center;
}

.jc-s-a{
 justify-content: space-around;
}

.col-g{
    column-gap: 10px;
}

.row-g{
    row-gap: 10px;
}

.font{
    font-weight: 600;
}

.c-white{
    color: white;
}

header{
    width: 100%;
    height: 300px;
}

.header-content{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: aqua solid;
}

.posts{
    width: 100%;
    height: 50%;
    justify-content: space-around;
}

.post{
    width: 20%;
    height: 100%;
    text-align: center;
}

.block{
    width: 100%;
    height: 90%;
    background: #254b67;
    border-radius: 20px;
}

footer{
    width: 100%;
    height: 300px;
    background: #254b67;
}

.pictures{
    width: 25%;
    height: 75%;
}

.circle{
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 50%;
}