*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.row-g{
    row-gap: 10px;
}

.col-g{
    column-gap: 10px;
}

.fd-col{
    flex-direction: column;
}

header{
    width: 100%;
    height: 100px;
    background: gold;
}

.me-po{
    width: 100%;
    height: 500px;
}

menu{
    width: 25%;
    height: 100%;
    background: #8f4fb7;
}

.posts{
    width: 75%;
    height: 100%;
}

.post{
    width: 100%;
    height: 50%;
    background: aqua;
}

footer{
    width: 100%;
    height: 100px;
    background: gold;
}