@media screen and (max-width: 1200px) {
    header{
        height: 50px;
        background: cadetblue;
    }

    .me-po{
        flex-direction: column;
        row-gap: 10px;
    }

    menu{
        width: 100%;
        background: forestgreen;
    }

    .posts{
        width: 100%;
    }

    footer{
        height: 50px;
        background: cadetblue;
    }
}