@media screen and (max-width: 1200px){
    .header{
        height: 100px;
        background: cornflowerblue;
    }

    .info{
        height: 820px;
        flex-direction: column;
    }

    .blocks{
        width: 100%;
        height: 400px;
    }

    .banner{
        width: 100%;
        height: 100px;
        background: lightgreen;
    }
}