*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.fd-col{
    flex-direction: column;
}

.ai-c{
    align-items: center;
}

.jc-c{
    justify-content: center;
}

.jc-s-a{
    justify-content: space-around;
}

.jc-s-b{
    justify-content: space-between;
}

.jc-s-e{
    justify-content: space-evenly;
}

header{
    width: 100%;
    height: 100px;
    background: silver;
}

.logo{
    background: #254b67;
    width: 15%;
    height: 50%;
    border-radius: 10px;
}

.header-buttons{
    justify-content: flex-end;
    flex-direction: column;
    width: 40%;
    height: 50%;
    row-gap: 30px;
}

.up-header-buttons{
    width: 100%;
    height: 10%;
    justify-content: flex-end;
    column-gap: 10px;
}

.down-header-buttons{
    justify-content: flex-end;
    column-gap: 10px;
    width: 100%;
    height: 10%;
}

.header-button{
    height: 100%;
    width: 20%;
    background: #8f4fb7;
    border-radius: 30px;
}

.banner{
    width: 100%;
    height: 400px;
    background: #254b67;
    row-gap: 20px;
}

.banner-text{
    width: 50%;
    height: 100%;
    row-gap: 20px;
}

.wall-text-b {
    font-size: 2em;
}

.wall-text-s {
    font-size: 1.5em;
}

.c-pink{
 color: #8f4fb7;
}

.banner-button{
    width: 40%;
    height: 10%;
    background: #8f4fb7;
    border-radius: 20px;
}

.fish{
    width: 40%;
    height: 100%;
}

.posts{
    width: 100%;
    height: 1500px;
    background: silver;
}

.post-b{
    width: 100%;
    height: 50%;
}

.post-b-wall{
    width: 50%;
    height: 100%;
}

.post-fish{
    width: 100%;
    height: 5%;
}

.post-blocks{
    width: 100%;
    height: 70%;
    row-gap: 5px;
}

.post-block{
    height: 30%;
    width: 100%;
    background: #8f4fb7;
    border-radius: 20px;
}

.triangle-right{
    border: 40px solid transparent;
    border-left: 40px solid black;
}

.triangle-left{
    border: 40px solid transparent;
    border-right: 40px solid black;
}

.swipe{
    width: 100%;
    height: 15%;
}

.swipe-block{
    width: 10%;
    height: 70%;
    background: #8f4fb7;
    border-radius: 10px;
}

.news{
    width: 40%;
    height: 100%;
    row-gap: 10px;
}

.news-fish{
    width: 100%;
    height: 1%;
}

.new{
    width: 100%;
    height: 15%;
}

.new-block{
    width: 20%;
    height: 100%;
    background: #8f4fb7;
    border-radius: 10px;
}

.new-text{
    width: 70%;
    height: 100%;
}

.text{
    width: 100%;
}

.text-fish{
    width: 100%;
    height: 15%;
}

.text-links{
    width: 100%;
    height: 10%;
}

.text-link{
    width: 25%;
    height: 100%;
}

.link{
    height: 100%;
    width: 40%;
    background: black;
    border-radius: 10px;
}

.photo{
    width: 100%;
    height: 30%;
}

.group{
    width: 90%;
    height: 70%;
    column-gap: 10px;
    flex-wrap: wrap;
}

.dark-group{
    width: 25%;
    height: 45%;
    background: #254b67;
}

.light-group{
    width: 70%;
    height: 45%;
    background: #8f4fb7;
}

.images{
    width: 100%;
    height: 20%;
}

.images-block{
    width: 100%;
    height: 90%;
}

.im-blocks{
    width: 30%;
    height: 90%;
}

.im-block{
    width: 100%;
    height: 100%;
}

.in-circle{
    width: 50%;
    height: 60%;
    background: #8f4fb7;
    border-radius: 50%;
}

.im-fish{
    width: 100%;
    height: 10%;
}


footer{
    width: 100%;
    height: 100px;
    background: #254b67;
}

.footer-blocks{
    width: 40%;
    height: 100%;
    row-gap: 20px;
}

.footer-b-blocks{
    width: 100%;
    height: 30%;
    column-gap: 10px;
}

.b-block{
    width: 15%;
    height: 100%;
    background: #8f4fb7;
    border-radius: 10px;
}

.footer-fish{
    width: 100%;
    height: 10%;
}

.footer-s-blocks{
    width: 100%;
    height: 5%;
    column-gap: 10px;
}

.footer-s-block{
    width: 20%;
    height: 100%;
    background: #8f4fb7;
    border-radius: 20px;
}

.footer-texts{
    width: 50%;
    height: 100%;
}

.footer-text{
    width: 30%;
    height: 100%;
    row-gap: 10px;
}

.footer-text-xxl{
    width: 90%;
    height: 15%;
    background: #8f4fb7;
    border-radius: 20px;
}

.footer-text-xl{
    width: 70%;
    height: 5%;
    background: #8f4fb7;
    border-radius: 20px;
}

.footer-text-x{
    width: 60%;
    height: 5%;
    background: #8f4fb7;
    border-radius: 20px;
}


.footer-text-xs{
    width: 50%;
    height: 5%;
    background: #8f4fb7;
    border-radius: 20px;
}
