*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100px;
    background: steelblue;
}

nav{
    width: 100%;
    height: 50px;
    background: #05458a;
}

.ma-as{
    width: 100%;
    height: 600px;
}

main{
    width: 70%;
    height: 100%;
    background: cadetblue;
}

aside{
    width: 30%;
    height: 100%;
    background: #8f4fb7;
}

footer{
    width: 100%;
    height: 100px;
    background: lightskyblue;
}

.flex{
    display: flex;
}

.fd-col{
    flex-direction: column;
}