@media screen and ( max-width: 1200px){
    .header{
        height: 100px;
        background: cornflowerblue;
    }

    .blocks{
        flex-direction: row;
    }

    .b-block{
        width: 50%;
        height: 100%;
        background: green;
    }

    .c-d-e-blocks{
        flex-direction: column;
        width: 50%;
        height: 100%;
    }

    .c-block{
        width: 100%;
        height: 32.5%;
        background: lightgreen;
    }

    .d-block{
        width: 100%;
        height: 32.5%;
        background: lightgreen;
    }

    .e-block{
        width: 100%;
        height: 32.5%;
        background: lightgreen;
    }

    .banner{
        background: green;
    }

}