*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.fd-col{
    flex-direction: column;
}

.col-g{
    column-gap: 10px;
}

.row-g{
    row-gap: 10px;
}

.home-about{
    width: 100%;
    height: 400px;
}

.home{
    width: 50%;
    height: 100%;
    background: #05458a;
}

.about{
    width: 50%;
    height: 100%;
    background: #05458a;
}

.kabobs{
    width: 100%;
    height: 200px;
    background: #05458a;
}

.posts{
    width: 100%;
    height: 200px;
}

.post{
    width: 33%;
    height: 100%;
    background: navy;
}