*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.row-g{
    row-gap: 10px;
}

.col-g{
    column-gap: 10px;
}

.fd-col{
    flex-direction: column;
}

header{
    width: 100%;
    height: 200px;
    background: steelblue;
}

.widgets{
    width: 100%;
    height: 150px;
}

.widget{
    width: 33%;
    height: 100%;
    background: #05458a;
}

footer{
    width: 100%;
    height: 400px;
    background: steelblue;
}