@media screen and (max-width: 1200px){
    header{
        height: 100px;
    }

    .widgets{
        flex-direction: column;
        height: 800px;
    }

    .widget{
        width: 100%;
        height: 33%;
    }

    footer{
        height: 100px;
    }
}